django
djangorestframework
django-filter
celery
request
ujson
pyyaml
django-rest-passwordreset
rest_framework_simplejwt
djangorestframework-csv
# OpenAPI Documentation
drf-spectacular
# Redis caching
django-redis
# Image processing
Pillow
python-resize-image
django-cleanup
django-jet-reboot
sentry-sdk[django]
# social_django
social-auth-app-django
social-auth-core